frontend/node_modules
frontend/package

frontend/sass/utils/_sprite_desktop.scss
frontend/sass/utils/_sprite_mobile.scss

frontend/npm-debug.log

npm-debug.log
node_modules


database
=======
public/css/
public/fonts/
public/images/
public/js/

resources/views/
vendor/
.idea/
.setting/
.project/